<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="multi_ur5e">

  <xacro:include filename="$(find ur5e_bringup)/urdf/ur5e_unit.xacro" />

  <!-- link raiz comun a toda la celda -->
  <link name="world" />

  <!-- ================= Robot 1 ================= -->
  <xacro:ur5e_unit
    name="r1"
    tf_prefix="r1_"
    parent="world"
    xyz="0 0 0"
    rpy="0 0 0"
    robot_ip="192.168.1.102"
    use_fake_hardware="true"
    headless_mode="true" />

  <!-- ================= Robot 2 ================= -->
  <xacro:ur5e_unit
    name="r2"
    tf_prefix="r2_"
    parent="world"
    xyz="1.2 0 0"
    rpy="0 0 0"
    robot_ip="192.168.1.103"
    use_fake_hardware="true"
    headless_mode="true" />

  <!-- Para agregar un tercer robot, copia uno de los bloques de arriba
       cambiando name, tf_prefix, xyz y robot_ip. -->

</robot>
